/* color palette
#FFC6AC
#FFF6DC
#C4C1A4 #8d8b77 #575649
#9E9FA5 
*/

.createUserForm {
  margin-top: 2rem !important;
}

form label {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

form label span {
  width: 6rem;
  text-align: end;
}

form label input {
  width: 14rem;
  height: 30px;
  float: center;
  text-align: center;
}



button.speciesBtn {
  font-size: 2rem;
  padding: 0.1rem 3rem 0.4rem;
  margin: 2rem 0.3rem;
}

.emptyInput {
  background-color: rgba(255, 90, 90, 0.541);
}

.successModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff6dc;
  padding: 2rem 1rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
  transition: all 0.4s ease-in;
}

.successModal.show {
  opacity: 1;
  z-index: 0;
}

.speciesErrorDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff6dc;
  padding: 2rem 1rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
  transition: all 0.4s ease-in;
}

.speciesErrorDiv.show {
  opacity: 1;
  z-index: 0;
}